/* Using SCSS variables to store breakpoints */
@media (min-width: 480px) { .view-display-id-imago_browser .view-content .views-row { width: 100%; } }
@media (min-width: 768px) { .view-display-id-imago_browser .view-content .views-row { width: 30%; max-height: 220px; }
  .view-header, .view-filters { max-width: 100%; float: none; } }
@media (min-width: 1400px) { .view-display-id-imago_browser .view-content .views-row { width: 15%; } }
@media (min-width: 1500px) { .view-display-id-imago_browser .view-content .views-row { width: 13.3%; } }
.view-imago .view-header, .view-imago .view-filters { max-width: 48%; }
.view-imago .view-header { float: left; }
.view-imago .view-filters { float: right; }
.view-imago .views-row img { vertical-align: bottom; width: 100%; height: auto; }

.entity-browser-form .form-actions { width: 100%; display: inline-block; }

.view-imago .views-row img::selection { background: transparent; }

.view-imago .views-row .views-field-entity-browser-select { position: absolute !important; height: 1px; width: 1px; overflow: hidden; clip: rect(1px, 1px, 1px, 1px); }

.view-imago .views-row.disabled { opacity: .3; -webkit-transition: all 0.2s; transition: all 0.2s; }

input[type="submit"][name="filter"] { margin-left: 10px; margin-top: 30px; }

.view-display-id-imago .view-content .views-row { width: 30%; }

.view-display-id-imago_browser .view-content { padding-top: 6em; display: block; width: 100%; }
.view-display-id-imago_browser .views-exposed-form .form--inline { display: flex; margin: 1em 1.2em; float: right; height: 3em; }
.view-display-id-imago_browser .views-exposed-form .form--inline input { text-shadow: none; }
.view-display-id-imago_browser .views-exposed-form .form--inline .form-item { float: none; margin: 0; }

.view-display-id-imago_browser .pager, .view-display-id-imago .pager { padding-top: 0; padding-bottom: 0; width: 50%; float: right; }
.view-display-id-imago_browser .pager .pager__items, .view-display-id-imago .pager .pager__items { text-align: left; }
.view-display-id-imago_browser span.messages--status, .view-display-id-imago span.messages--status { display: block; }
.view-display-id-imago_browser .view-content, .view-display-id-imago .view-content { padding-bottom: 2em; display: block; width: 100%; }
.view-display-id-imago_browser .view-content .views-row, .view-display-id-imago .view-content .views-row { box-sizing: border-box; position: relative; display: block; text-align: center; border: 2px solid #b8b8b8; transition: .2s; height: auto; padding-bottom: 1em; margin: 0.5em 1em 0.5em 0; overflow: hidden; float: left; }
.view-display-id-imago_browser .view-content .views-row .views-field-field-description, .view-display-id-imago .view-content .views-row .views-field-field-description { text-align: left; margin: 0 0.5em; overflow: hidden; font-size: 1.1em; }
.view-display-id-imago_browser .view-content .views-row .views-field-caption, .view-display-id-imago .view-content .views-row .views-field-caption { display: block; height: 30px; }
.view-display-id-imago_browser .view-content .views-row img, .view-display-id-imago .view-content .views-row img { width: auto; padding: 0.5em; height: 175px; }
.view-display-id-imago_browser .view-content .views-row .views-field-imago-browser-select, .view-display-id-imago .view-content .views-row .views-field-imago-browser-select { position: absolute !important; height: 1px; width: 1px; overflow: hidden; clip: rect(1px, 1px, 1px, 1px); }
.view-display-id-imago_browser .view-content .views-row .views-field-imago-browser-select input[type="checkbox"], .view-display-id-imago_browser .view-content .views-row .views-field-imago-browser-select input[type="radio"], .view-display-id-imago .view-content .views-row .views-field-imago-browser-select input[type="checkbox"], .view-display-id-imago .view-content .views-row .views-field-imago-browser-select input[type="radio"] { box-sizing: border-box; padding: 0; }
.view-display-id-imago_browser .view-content .views-row .disabled-image, .view-display-id-imago .view-content .views-row .disabled-image { display: flex; justify-content: center; align-items: center; width: 200px; height: 200px; border: 1px solid black; word-wrap: break-word; margin-right: auto; margin-left: auto; }
.view-display-id-imago_browser .view-content .views-row:after, .view-display-id-imago .view-content .views-row:after { content: " "; width: 100%; height: 100%; top: 0; left: 0; position: absolute; background: transparent url("../images/check.svg") no-repeat center center; background-size: 0; -webkit-transition: all 0.2s; transition: all 0.2s; opacity: 1; }
.view-display-id-imago_browser .view-content .views-row.checked, .view-display-id-imago .view-content .views-row.checked { border: 2px solid #37802f; }
.view-display-id-imago_browser .view-content .views-row.checked:after, .view-display-id-imago .view-content .views-row.checked:after { background-image: none; background-size: 80px 80px; -webkit-mask: url("../images/check.svg") no-repeat center center; mask: url("../images/check.svg") no-repeat center center; mask-size: auto; -webkit-mask-size: 80px 80px; mask-size: 80px 80px; background-color: #37802f; }

.imago-browser .view-header, .imago-browser .view-empty, .view-imago .view-filters { display: inline-block; max-width: 100%; width: 100%; }

.imago-browser .view-header, .imago-browser .view-empty { float: none; }

.view-display-id-imago_browser .view-content { padding-top: 0; }

input.imago-load-more { float: right; margin-right: 50vw; }

#edit-submit.imago_browser { margin-top: 3em; }
