/* Using SCSS variables to store breakpoints */
$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-netbook: 1400px;

@media (min-width: $breakpoint-mobile) {
  .view-display-id-imago_browser .view-content .views-row {
    width: 100%;
  }
}

@media (min-width: $breakpoint-tablet) {
  .view-display-id-imago_browser .view-content .views-row {
    width: 30%;
    max-height: 220px;
  }
  .view-header, .view-filters {
    max-width: 100%;
    float: none;
  }
}
@media (min-width: $breakpoint-netbook) {
  .view-display-id-imago_browser .view-content .views-row {
    width: 15%;
  }
}
@media (min-width: 1500px) {
  .view-display-id-imago_browser .view-content .views-row {
    width: 13.3%;
  }
}


.view-imago {
  .view-header, .view-filters {
    max-width: 48%;
  }
  .view-header {
    float: left;
  }
  .view-filters {
    float: right;
  }
  .views-row img {
    vertical-align: bottom;
    width: 100%;
    height: auto;
  }
}
.entity-browser-form {
  .form-actions {
    width: 100%;
    display: inline-block;
  }
}
.view-imago .views-row img::selection {
  background: transparent;
}

.view-imago .views-row .views-field-entity-browser-select {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}


.view-imago .views-row.disabled {
  opacity: .3;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

input[type="submit"][name="filter"] {
  margin-left: 10px;
  margin-top: 30px;
}

.view-display-id-imago {
  .view-content {
    .views-row {
      width: 30%;
    }
  }
}
.view-display-id-imago_browser {
  .view-content {
    padding-top: 6em;
    display: block;
    width: 100%;
  }
  .views-exposed-form {
    .form--inline {
      display: flex;
      margin: 1em 1.2em;
      float: right;
      height: 3em;
      input {
        text-shadow: none;
      }
      .form-item {
        float: none;
        margin: 0;
      }
    }
  }
}

.view-display-id-imago_browser, .view-display-id-imago  {
  .pager {
    padding-top: 0;
    padding-bottom: 0;
    width: 50%;
    float: right;
    .pager__items {
      text-align: left;
    }
  }

  span.messages--status {
    display: block;
  }
  .view-content {
    padding-bottom: 2em;
    display: block;
    width: 100%;
    .views-row {
      box-sizing: border-box;
      position: relative;
      display: block;
      text-align: center;
      border: 2px solid #b8b8b8;
      transition: .2s;
      height: auto;
      padding-bottom: 1em;
      margin: 0.5em 1em 0.5em 0;
      overflow: hidden;
      float: left;
      .views-field-field-description {
        text-align: left;
        margin: 0 0.5em;
        overflow: hidden;
        font-size: 1.1em;
      }
      .views-field-caption {
        display: block;
        height: 30px;
      }
      img {
        width: auto;
        padding: 0.5em;
        height: 175px;
      }
      .views-field-imago-browser-select {
        position: absolute !important;
        height: 1px;
        width: 1px;
        overflow: hidden;
        clip: rect(1px, 1px, 1px, 1px);
        input[type="checkbox"], input[type="radio"] {
          box-sizing: border-box;
          padding: 0;
        }
      }
      .disabled-image {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 200px;
        border: 1px solid black;
        word-wrap: break-word;
        margin-right: auto;
        margin-left: auto;
      }
    }
    .views-row:after {
      content: " ";
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      position: absolute;
      background: transparent url("../images/check.svg") no-repeat center center;
      background-size: 0;
      -webkit-transition: all 0.2s;
      transition: all 0.2s;
      opacity: 1;
    }

    .views-row.checked {
      border: 2px solid #37802f;
      &:after {
        background-image: none;
        background-size: 80px 80px;
        -webkit-mask: url("../images/check.svg") no-repeat center center;
        mask: url("../images/check.svg") no-repeat center center;
        mask-size: auto;
        -webkit-mask-size: 80px 80px;
        mask-size: 80px 80px;
        background-color: #37802f;
      }
    }
  }
}

.imago-browser .view-header, .imago-browser .view-empty, .view-imago .view-filters {
  display: inline-block;
  max-width: 100%;
  width: 100%;
}
.imago-browser .view-header, .imago-browser .view-empty {
  float: none;
}
.view-display-id-imago_browser .view-content {
  padding-top: 0;
}

input.imago-load-more {
  float: right;
  margin-right: 50vw;
}

#edit-submit {
  &.imago_browser {
    margin-top: 3em;
  }
}
